@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* scrollbar-gutter: stable; */
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-blacky;
}

::-moz-selection {
  @apply text-secondary;
}

::selection {
  @apply text-secondary;
}

/* total width */
body::-webkit-scrollbar {
  background-color: transparent;
  width: 0.5rem;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #151515;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: rgba(159, 75, 255, 0.619);
  border-radius: 1rem;
  border: 0.3rem solid transparent;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

.text-gradient {
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, #ee82ee, #ff6347);
}

.bg-gradient {
  background-image: linear-gradient(45deg, #ee82ee, #ff6347);
}
